# Logs
logs
log
logAll
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npmrc
.npm

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# config files
ormconfig.json